.usuarios {
    position: relative;
    width: calc(100% - 40px);
    background-color: white;
    border: none;
    box-shadow: 0px 5px 7px rgba(0,0,0,0.3);
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    margin-top: 30px;
    padding: 20px;
    border-radius: 5px;
    transition: 300ms;

    & i {
        font-size: large;
    }

    & input {
        margin-left: 20px;
        width: 100%;
        border: none;
        outline: none;
        font-size: 1rem;
        background-color: transparent;
    }
    
    &:hover {
        box-shadow: 0px 5px 12px rgba(0,0,0,0.3);
        transform: translateX(-5px);

            
    }
}